*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     /* background-color:white;  */
}
.container{
    border: 1px solid red;
    display: flex ;
     /* flex-direction: column; */ 
    padding: 5px;
    gap: 5px;
}
.one{
    border: 1px solid green;
    padding: 5px;
    /* border: 50px; */
    /* margin: 20px; */
    /* padding: 20px; */
}

.two{
    border: 1px solid blue;
    padding: 5px;
}
.deni{
    display: flex;
    flex-direction: column;

}

.card-container{
    width: 100%;
    height: auto;
}

.card{
    border: 1px solid black;
    display: flex;
    /* gap: 30px; */
    padding: 10px;
     margin: auto;
        font-size: smaller;
        align-items: center;
        margin-left: 20px;

}
 
.title{
text-align: center;
/* align-items: center; */
/* margin-left: 20px; */
}
head{
    display: flex;
    justify-content: center;
}
#image{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    margin-left: 20px;
    /* font-size: 30px; */
 /* }  */
 /* #popular{  */
     /* margin-top: 50px;  */
/* }  */
}
#titlee{
    padding: 20px auto;
}
#popu{

    border: 1px solid black;
    display: flex;
    /* gap: 30px; */
        font-size: 30px;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        margin-left: 20px;

}
.photo{
    display: flex;

    align-items:flex-end;
    /* justify-content: right; */
    flex-direction: column;
    /* align-self: auto; */
} 
#sub{
background-color: black;
    color:white;
}
/* }
.subscribe{
    background-color: black;
} */
 .inspir{
    border: 1px solid red;
    display: grid;
    grid-template-columns: 2/4;
    /* width: 10px; */
    /* height: 10px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
 } 
 .tags{
    background: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .tags span{
  background-color: rgb(234, 234, 234);
  padding: 2px 6px;
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 10px;
  background-color: rgb(234, 234, 234);
  }
  .tags span:first-child{
    background-color: black;
    color: white !important;
  
  } 
  .sec-four{
background-color: black;
color: white;
  }
  .Inspiration{
    background-color: blue;
    /* width: 20%; */
    /* height: 20%; */
    display: flex;
    flex-wrap: wrap;
    
  }